<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>OpenCV OCR text recognition</title>
  </head>
  <body>
    <main>
      <h1>OpenCV OCR text recognition</h1>
      <form enctype="multipart/form-data">
        <label for="img" class="custom-file-upload">Select an Image</label>
        <input
          type="file"
          name="img"
          id="img"
          onchange="previewImage(event)"
          accept="image/*"
        />
        <br />
        <button type="submit" id="btn1" name="btn1" class="submit">Recognize</button>
        <br />
        <br />
        <textarea
          rows="10"
          cols="50"
          id="output"
          readonly
          style="display: none"
        >
        </textarea>
        <br />
        <div class="row">
          <div class="column">
            <img src="" id="image-preview" alt="Image Preview" width="400"
            style="display: none;"
            />
          </div>
          <div class="column">
            <img id="image" width="400" />
          </div>
        </div>
      </form>
      <br />
    </main>
    <footer>
      <p>&copy; 2023 Cairo University Team 1</p>
      <ul>
        <li>Mina Sameh</li>
        <li>Mohammed Heider</li>
        <li>Moataz Mostafa</li>
        <li>Rawam Khaled</li>
      </ul>
    </footer>

    <script>
      function previewImage(event) {
        const input = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
          const previewElement = document.getElementById("image-preview");
          previewElement.style.display = "block";
          previewElement.src = e.target.result;
        };

        reader.readAsDataURL(input);
      }

      const loadingSpinner = document.createElement("span");
      loadingSpinner.classList.add(
        "spinner-border",
        "spinner-border-sm",
        "ml-2",
        "d-none"
      );

      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelector(".submit")
          .addEventListener("click", function (e) {
            e.preventDefault();
            const submitButton = document.getElementById("btn1");
            submitButton.disabled = true; // disable the submit button
            submitButton.innerHTML = "Running..."; // change the text of the submit button
            loadingSpinner.classList.remove("d-none"); // show the loading spinner
            submitButton.appendChild(loadingSpinner); // append the loading spinner to the submit button

            const input = document.getElementById("img").files[0];
            const formData = new FormData();
            formData.append("img", input);

            fetch("/api", {
              method: "POST",
              body: formData,
            })
              .then((res) => {
                switch (res.status) {
                  case 200:
                    return res.json();
                    break;
                  case 400:
                    alert("Bad request");
                    break;
                  case 413:
                    alert("Image too large");
                    break;
                  case 415:
                    alert("Unsupported media type");
                    break;
                  case 409:
                    alert("No text found");
                    break;
                  case 500:
                    alert("Internal server error, Please try again");
                    break;
                }
                return res.text();
              })
              .then((res) => {
                console.log(res);
                document.getElementById("output").innerHTML = res.text;
                document.getElementById("output").style.display = "block";
                // display base64 image in the browser under the text using div id cv-image
                document.getElementById("image").src =
                  "data:image/png;base64," + res.image;
                submitButton.disabled = false; // re-enable the submit button
                submitButton.innerHTML = "Recognize"; // change the text of the submit button back to its original value
                loadingSpinner.classList.add("d-none"); // hide the loading spinner
              })
              .catch((error) => {
                alert("Error, something went wrong, please try again");
                submitButton.disabled = false; // re-enable the submit button
                submitButton.innerHTML = "Submit"; // change the text of the submit button back to its original value
                loadingSpinner.classList.add("d-none"); // hide the loading spinner

                console.error(error);
              });
          });
      });
    </script>
  </body>
</html>
